footer {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

label {
    display: inline-block;
    width: fit-content;
}

button {
    font-family: Georgia, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: azure;
}


header {
    display: flex;
    justify-content: center;
}

body {
    padding: 5%;
}

div {
    width: 50%;
}

p {
    display: inline;
    width: fit-content;
    color: lightseagreen;
    margin-left: 8%;
}

i {
    display: block;
    width: fit-content;
}

section {
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
}

#main {
    display: inline-flex;
    padding: 2%;
    margin-top: 5%;
    border: 1px solid black;
    border-radius: 5%;
}

#input-data {
    display: block;

}

#output-data {
    display: block;
    background-color: darkslategrey;
    border: 2px solid black;
    border-radius: 5%;

}

#reset {
    display: block;
    color: darkslategrey;
    background-color: lightseagreen;

    width: 80%;
}

.content {
    padding: 5%;
}

.tip-value {
    background-color: darkslategrey;
}

.tip-value-d {
    color: darkslategray;
    background-color: lightsteelblue;
}